/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  margin-top: 36px;
  margin-bottom: 32px;
}

form {
  display: flex;
  gap: 8px;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.04em;
  color: #808080;
}

input:hover {
  border: 1px solid #000;
  cursor: pointer;
}

button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover {
  background: #6c8cff;
}

.loader {
  color: #2e2f42;
  display: none;
  position: relative;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.loader::after {
  content: '';
  width: 5px;
  height: 5px;
  background: currentColor;
  position: absolute;
  bottom: 10px;
  right: -5px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
  }

  50% {
    box-shadow: 10px 0 white, 20px 0 rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 10px 0 white, 20px 0 white;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery-item {
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
}

.gallery-item-image {
  width: 100%;
  height: calc(100% - 48px);
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;

  padding-top: 4px;
  padding-bottom: 4px;
}

.info-value {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}